* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d2630;
}
h1 {
  color: antiquewhite;
}
.container {
  width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.heading {
  display: flex;
  margin: auto;
  flex-direction: column;
  max-width: 500px;
  padding: 1.5rem 0;
  align-items: center;
}

.main {
  padding: 20px;
}

form {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  display: flex;
}

input[type="text"] {
  height: 30px;
  outline: 0;
  border: none;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #595959;
  flex-grow: 1;
}

button {
  font-size: 1.5rem;
  background-color: white;
  outline: 0;
  border: none;
  color: #595959;
}

button:hover {
  color: lightgrey;
}

.todoList {
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 25px;
  height: 100%;
}

ul {
  padding-left: 0px;
  list-style: none;
}
li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 15px 0;
  font-size: 1rem;
  color: #595959;
}
li button {
  padding: 0px 4px;
}

i {
  pointer-events: none;
}
.todo-item {
  flex-grow: 1;
}

.clearAll {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  padding: 1px 3px;
  font-size: 0.9rem;
}

.clearAll:hover {
  color: lightcoral;
}
